catboost
configparser
datetime
folium
geopandas
langchain
langchain-community
langchain-groq
langchain-ollama
langchain-openai
langgraph
langsmith
numpy
pandas
Pillow
pyproj
python-dotenv
requests
scikit-learn
scipy
shapely
streamlit
streamlit_folium
typing-extensions
openmeteo_requests
tabulate
sentence_transformers