# Automatically loaded into environ by streamlit under the same key
OPENAI_API_KEY="YOUR_OPENAI_API_KEY"
LANGCHAIN_API_KEY="YOUR_LANGCHAIN_API_KEY_FOR_LANGSMITH"
GROQ_API_KEY="YOUR_GROP_API_KEY"
LOCK_LLM_SELECTION=true # Allow only default provider when app is hosted
DEV_MODE=false